@charset "utf-8";
/* 共通 */
*{
	box-sizing: border-box;
	font-family:'Oswald'、sans-serif;

}
html{
	scroll-behavior: smooth;
}
a{
	text-decoration: none;
}
p{
	margin: 0px;
	line-height: 1.8;
}
img{
	max-width: 100%;
	height: auto;
}
img:hover{
	opacity:0.5;
}
h3{
	font-weight: bold;
	font-size: 20px;
	margin: 10px;
}

/* container */
.container{
	margin: 0 auto;
	padding: 0 20px;
	max-width: 800px;
	line-height: 1.6;
}
.container--large{
	max-width: 1200px;
}

/* column */
.column{
	display: flex;
}

/* media-object */
.media-object{
	display: flex;
	justify-content: center;
	align-items: center;
}

.media-object__img{
	width: 40%;
	margin-right: 20px;
}
.media-object__reverse .media-object__img{
	text-align: right;
	margin-right: 0;
	margin-left: 20px;
}
.media-object__content{
	flex: 1 1 60%;
}

/* heading */
.heading__01{
	text-align: center;
	padding-bottom: 20px;
	padding-top: 80px;
	border-bottom: 1px solid #ccc;
}




.btn{
	display: inline-block;
	border: 2px solid #000;
	font-weight: bold;
	padding: 10px 20px;
	font-size: 14px;
	color: #000;
	transition: all 0.6s;
	cursor: pointer;
	background-color: #fff;
}

.btn:hover{
	background-color: #000;
	color: #fff;
}
/* section margin */
.service,
.container .message{
	margin-bottom: 40px;
}

/* site-header layout*/
.site-header{
	top: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100px;
}



@media (min-width:768px) {
	.site-header {
		align-items: center;
		justify-content: space-between;/*両端揃え*/
	}
}


.site-header .head-top .logo{
	width: 200px;
  height: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.site-header .head-top .cart_area{
	display: flex;
	position: absolute;
	left:auto;
	right:10%;
	top:5%;
}

.site-header .head-top .cart_area li{
	width: 20px;
  height: 20px;
	list-style: none;
	top:20px;
}


.site-top{
	width:100%;
	height: 100px;
}

.site-top .main-nav{
	width: 100%;
}

@media (min-width:768px) {
	.site-top .main-nav{
		width: auto;
	}
}
.site-top .main-nav {
	display: none;
	padding:10px;
	margin-left:0%;
	margin-top: -3%;
}

@media (min-width:768px) {
	.site-top .main-nav {
		margin-left: 25%;
		font-size: 18px;
		display: block;
		margin-top:15px;
		border-bottom: none;
		z-index: 30;
	}

}

.site-top .main-nav li{
	list-style: none;
	padding: 10px;
	cursor: pointer;
	margin-left: 0;
	background-color: white;
	border: 0.3px solid #bcbcbc;
	z-index: 30;
}


@media (min-width:768px){
	.site-top .main-nav li{
		border-style: none;
		padding-right: 30px;
		padding-left: 30px;
		margin-top: 20px;
	}
}

.site-top .main-nav li:hover{
	opacity: 0.5;
}

.site-top .main-nav__item a{
	list-style: none;
	display: block
	padding: 20px;
	color: #000;
	cursor: pointer;
}

@media (min-width:768px) {
	.site-top .main-nav__item a{
		border-top: none;
		cursor:pointer;
	}

}


/* hamburger switch */
.site-top input[type="checkbox"]:checked ~ .main-nav {
	display: block;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: white;
}

.site-top input[type="checkbox"]:checked ~ .main-nav__item {
	flex: 1;
	line-height: 0;
}

@media (min-width:768px) {
	.site-top input[type="checkbox"]:checked ~ .main-nav,
	.site-top input[type="checkbox"]~ .main-nav {
		display: flex;
		flex-direction: row;
	}
}

/* hamburger icon */
.site-header .site-nav__toggle {
	display: none;
}
.site-header .site-nav__toggle-label{
	position: absolute;
	display: block;
	top: 20px;
	left: 10px;
}

.site-header .site-nav__toggle-label span {
	display: block;
	width: 40px;
	height: 39px;
	background-color:#595959;
	cursor: pointer;
	border-radius: 5px;
}

.site-header .site-nav__toggle-label span span{
	display: block;
	overflow: hidden;/*はみ出たら消す。中身の要素を極端に小さくする。*/
	width: 1px;/*LABELを見えなくすると、スイッチが押せなくなるため。*/
	height: 1px;
}
.site-header .site-nav__toggle-label span span::before,
.site-header .site-nav__toggle-label span span::after,
.site-header .site-nav__toggle-label span::after {
	position: absolute;
	left: 10px;
	content: "";
	width: 20px;
	height: 3px;
	background-color: #FFF;
}

.site-header .site-nav__toggle-label span span::before {
	top: 10px;
}

.site-header .site-nav__toggle-label span span::after {
	top: 18px;
}

.site-header .site-nav__toggle-label span::after {
	bottom: 10px;
}

@media (min-width:768px) {
	.site-header .site-nav__toggle-label{
		display: none;
	}
}

/* hamburger icon checked */
.site-header input[type="checkbox"]:checked ~ .site-nav__toggle-label span span::before {
	top: 19px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);/*-45度傾ける*/
}

.site-header input[type="checkbox"]:checked ~ .site-nav__toggle-label span span::after{
	display: none;/*2本目を非表示にする*/
}

.site-header input[type="checkbox"]:checked ~ .site-nav__toggle-label span::after {
	top: 19px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.site-main .fade img{
 display:block;
 margin-top:80px;
}

/*tab*/

#container .tab{
	display: flex;
	justify-content: center;
	padding: 0;
	margin-top: 70px;
	margin-bottom: 10px;
}
#container .tab li{
	list-style-type: none;
	width:500px;
	height:40px;
	margin: auto;
	padding: 1px;
	justify-content: center;
}
#container .tab li a{
	outline:none;
	background-color: #595959;
	color:#fff;
	display: block;
	line-height: 40px;
	text-align: center;
	border: 1px solid #595959;
}

#container .tab li a.selected{
	background-color: #fff;
	text-decoration: none;
	color: #595959;
	cursor: default;
}

.service .column{
	flex-direction: column;
}

.service .column__item{
	flex: 1,1,auto;
	margin: 5px;
}

.service .rank{
	color:#ffffff;
	background-color: #999999;
	font-size: 18px;
	line-height: 35px;
	width:35px;
	padding: 0;
	text-align: center;
	position: absolute;
	top:0;
	left: 0;
}
.service .media-object__img{
	position: relative;
}

.service .media-object__img img{
	width: 100%;
	object-fit: contain ;
}
.service .media-object__content p{
	margin-bottom: 5px;
}

@media (min-width:768px) {
	.service .column{
		flex-direction: row;
		flex-wrap: wrap;
	}

	.service .recommend{
    padding:0;
	}
	.service .column__item{
		width:32%;
		text-align: center;
	}
	.media-object{
		flex-direction: column;
	}
	.media-object__img{
		width: 100%;
		margin: 10px;
	}
	.service .column__recommend{
		width: 20%;
		text-align: center;
		padding: 5px;
	}
}


.google-maps {
	position: relative;
	padding-bottom: 60%;/*60%の縦幅*/
	height: 0;
	overflow: hidden;
}

@media (min-width:768px) {
	.google-maps {
		padding-bottom: 30%;/*画面を大きくすると縦幅が小さくなる*/
	}
}

.google-maps iframe {
	position: absolute;/*親要素を起点に、すると親要素と同じ大きさになる*/
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

/* site-footer */

.site-footer{
	margin-top: 80px;
	background-color: #595959;
	font-size: 15px;
	padding: 20px;
	position: relative;
}

.site-footer .guide{
	display: flex;
	margin-left: 30%;
}

.site-footer .guide li{
	list-style: none;
	padding: 20px;
}

.site-footer .guide li:hover{
	opacity: 0.5;
}

.site-footer .guide li a{
	color:white;
}

.site-footer img{
	width: 200px;
	height: 100px;
	position: absolute;
	top:10%;
}

.copyright{
	text-align: center;
	font-size: 12px;
	margin-bottom: 0;
}

/* go-to-top */

.go-to-top{
	position: fixed;
	z-index: 1;
	font-size: 12px;
	right: 20px;
	bottom: 20px;
}

.go-to-top button{
	display: inline-block;
	padding: 10px;
	background-color: #595959;
	border: none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
}
